
// Main section styling

main{
    background-color:$pinegreen;
    position: relative;
    .new_burger{
        background-color: $darkgreen;
    }
}

// Onion rings image styling

.onion_rings {
    position: absolute;
    top:-550px;
    right:0;
    height:700px;
    width:850px;
}

// About Directory Stylings

.directory {
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 80px;
    padding: 200px 0;
    .directory_flex {
        position:relative;
        margin-left: 5%;
    }
}


.icon_flex {
    position: absolute;
    top: 30px;
    left: -65px;
}

// Best burgers and Try Something New Styles

.new_burger img {
    position:relative;
}

.new_burger img:first-of-type {
    box-shadow: 20px 20px $sunflower;
    top: -75px;
    left: -150px;
}

.new_burger img:last-of-type {
    box-shadow: -20px 20px $sunflower;
    top: 55px;
    right: -150px;
}

.new_burger_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    .burger_text {
        margin-left: 23%;
        margin-top: 80px;
    }
    .new_text {
        text-align: right;
        margin-top:40px;
        margin-right: 12%;
        a {
            align-self: flex-end;
        }
    }
}



.new_burger a:hover, .newburger a:focus {
    background-color: $black;
    color: $sunflower;
}

.burger_text, .new_text {
    display:flex;
    flex-direction: column;
}

// Win a Gift Card Section Styles

.gift {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.gift a:hover, .nature a:hover, .gift a:focus, .nature a:focus {
    background-color: $sunflower;
    color: $darkgreen;
}

// Banner styles

.banner {
    background-image: url(#{$image_path}/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

// Bringing Nature in Spaces Styles 
.nature_spaces{
    display:flex;
    justify-content: center;
}
.nature {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 150px;
    margin: 150px;
    img {
        box-shadow: -20px 20px #FDD300;
    }
    .nature_text {
        display: flex;
        flex-direction: column;
        a {
            align-self: flex-start;
        }
    }
}

// Gallery Styles 

.gallery {
    background-color: $darkgreen;
    .gallery_flex{
        display: flex;
        justify-content: center;
        padding: 70px 0;
    }
    .gallery img {
        width: calc(33% - 20px);
        padding: 20px;
    }
}

// Blog Page Styles

.blog_grid {
    display:grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 160px;
}

.blog_post img {
    box-shadow: -20px 15px $sunflower;
    margin-top: -150px;
}


aside {
    margin-left: 10%;
    margin-top: 100px;
    .aside_grid{
        display:grid;
    }
    img{
        margin-left: -60px;
        grid-column-start: 1;
        grid-row-start: 1;
        z-index: 10;
    }
    .aside_text {
        background-color: $darkgreen;
        padding-left: 40px;
        padding-right: 20px; 
        padding-bottom: 40px;
        width: 95%;
        margin-right: 10%;
        margin-top: 20px;
        grid-column: 1;
        grid-row: 1 / span 2;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}


.recent_posts li p:before {
    content: '•';
    margin-right: 15px;
}

.recent_posts {
    margin-top: 70px;
}

.margin {
    margin-top:120%;
}


.blog_text {
    border-bottom: 5px solid $sunflower;
    border-left: 5px solid $sunflower;
    margin-left: -20px;
    padding-left: 150px;
    padding-bottom: 100px;
    padding-top: 70px;
    padding-right: 10%;
    p {
        margin-top: 30px;
    }
}


.comments h2{
    margin-bottom: 20px;
}

.comments_grid {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 50px;
    .comment {
        display: grid;
        grid-template-columns: 1fr 12fr;
        margin: 0px 80px 140px 0px;
    }
}


.comment_flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment_text {
    margin-left: 50px;
    p {
        margin-top: 10px;
    }
}


input, textarea {
	background-color: transparent;
	color: $white;
}

input {
    border: none;
    border-bottom: 3px solid $sunflower;
    width: 380px;
    padding:30px;
    margin: 20px 0;
}

.name {
            margin-right: 50px;
        }


textarea {
    border: 3px solid $sunflower;
    width: 825px;
    padding: 30px;
    margin-top:20px;
    margin-bottom: 40px;
    resize: none;
}

.comment_form {
    display: flex;
    justify-content: center;
}

// Contact Page Styles

.contact_form {
    background-color: $darkgreen;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px $sunflower;
    padding: 0 70px;
    margin-top: -150px;
    margin-bottom: 200px;
    margin-left: 120px;
    textarea {
        height: 300px;
    }
    
    input {
        margin-top: 70px;
    }
}




.contact_socials {
    display: flex;
    flex-direction:column;
    .socials {
            display: flex;
    }
    p {
    margin-bottom: 30px;
}
}

.contact_flex {
    display: flex;
}

.contact_info {
    display:flex;
    flex-direction: column;
    margin-top: 120px;
    p {
        margin-left: 20px;
    }
}




