main{
    background-color:$pinegreen;
    position: relative;
    .new_burger{
        background-color: $darkgreen;
    }
}

.onion_rings {
    position: absolute;
    top:-550px;
    right:0;
}

.directory {
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 80px;
    padding: 200px 0;
}

.directory_flex {
    position:relative;
}

.icon_flex {
    position: absolute;
    top: 55px;
    left: -30px;
}
