main{
    background-color:$pinegreen;
    position: relative;
    .new_burger{
        background-color: $darkgreen;
    }
}

.onion_rings {
    position: absolute;
    top:-550px;
    right:0;
    height:700px;
    width:850px;
}



.directory {
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 80px;
    padding: 200px 0;
}

.directory_flex {
    position:relative;
}

.icon_flex {
    position: absolute;
    top: 30px;
    left: -65px;
}

.new_burger img {
    position:relative;
}

.new_burger img:first-of-type {
    box-shadow: 20px 20px $sunflower;
    top: -75px;
    left: -150px;
}

.new_burger img:last-of-type {
    box-shadow: -20px 20px $sunflower;
    top: 55px;
    right: -150px;
}

.new_burger_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}


.burger_text {
    margin-left: 150px;
    margin-top: 80px;
}
.new_text {
    text-align: right;
    margin-top:40px;
    padding-right: 150px;
}

.new_text a {
    align-self: flex-end;
}

.burger_text, .new_text {
    display:flex;
    flex-direction: column;
}


.gift {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.banner {
    background-image: url(#{$image_path}/banner.jpg);
    background-size: cover;
    height: 50vh;
}

.nature_spaces{
    display:flex;
    justify-content: center;
}
.nature {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 150px;
    margin: 150px;
}

.nature img {
    box-shadow: -20px 20px #FDD300;
}
.nature_text {
    display: flex;
    flex-direction: column;
}

.nature_text a {
    align-self: flex-start;
}

.gallery {
    background-color: $darkgreen;
}

.gallery_flex{
    display: flex;
    justify-content: center;
    padding: 70px 0;
}
.gallery img {
    width: calc(33% - 20px);
    padding: 20px;
}
