
@media (max-width: 1460px) {

    .onion_rings {
        height:auto;
        width: 50%;
        top: -400px;
    }

    .new_burger h2 {
        font-size: 3.5rem;
    }

    .new_burger img {
        width: 110%;
    }

    .nature {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .nature img {
        width: 50%;
    }

    .nature_text {
        align-items:center;
    }

    .nature a {
        align-self: center;
        margin-bottom: 10%;
    }

    .nature p {
        text-align: center;
    }

    .blog_grid {
        grid-template-columns: 1fr 2fr;
        column-gap: 100px;
    }

    .blog_grid h3 {
        font-size: 2.2rem;
        line-height: 40px;
    }

    .aside_text {
        padding-left: 20px;
    }

    .blog_text {
        padding-left: 70px;
    }

    .blog_text h2 {
        font-size: 4rem;
        line-height: 60px;
    }

    .comment {
        grid-template-columns: 1fr 6fr;
    }

    .comment_form {
        margin-left: 30%;
        margin-right: 10%;
    }
    
    .contact_form {
        width:70%;
        margin-left: 5%;
    }

    .contact_form input {
        width: 250px;
    
    }

    .contact_form textarea, .contact_form button {
        width: 600px;
    }

    

    
    
}

@media (max-width: 1060px) {
    .onion_rings {
        top: -250px;
    }

    .directory {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }

    .new_burger_grid {
        display:flex;
        flex-direction: column;
    }

    .new_burger img {
        width: 80%;
        position: none;
    }

    .burger_text {
        align-items: flex-end;
        margin-top: 20px;
        margin-left: 12%;
        p {
            text-align: right;

        }

        a {
            align-self: flex-end;
        }
    }

    .new_text {
        margin-top:70px;
        text-align: left;
        a {
            align-self: flex-start;
        }
    }
    
    .new_burger img:last-of-type {
        right: -250px;
    }
    
    .nature {
        margin: 100px auto;
        h2{
            font-size: 4rem;
            text-align: center;
            line-height: 65px;
        }
    }
    
    .gallery img {
    width: 33%;
    padding: 10px;
    }

    .blog_grid {
        display: flex;
        flex-direction: column;
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
        aside {
            display:flex;
            margin-left:-60px;
            margin-top: 0;
            margin-bottom: 50px;
            .aside_text{
                margin-top:0;
                padding-left: 50px;
                padding-right: 10%;
            }
            img {
                display:none;
            }
        }
    }

    .blog_post {
        margin-right: -50px;
        img {
        margin-top: 10px;
        }
    }
    .margin {
        margin-top: 30px;
    }
    
    .comments_grid {
        margin-left: 0;
    }

    .comment_flex {
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
    }

    .comment_form {
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
        input {
            width: 248px;
        }
        textarea {
            width: 550px;
        }
        button {
            width: 550px;
        }
    }

    .contact_flex {
        flex-direction: column-reverse;
        align-items: center;
        .contact_form {
            margin-bottom: 50px;
            margin-left: 0;
        }
        .contact_info {
            margin-top: 0;
            margin-bottom: 50px;
            text-align: center;
            align-items: center;
        }
        
    }
}

