
@media (max-width: 1460px) {

    .onion_rings {
        height:auto;
        width: 50%;
        top: -400px;
    }

    .new_burger h2 {
        font-size: 3.5rem;
    }

    .new_burger img {
        width: 110%;
    }

    .nature {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        img {
            width: 50%;
        }
    
        .nature_text {
            align-items:center;
        }
    
        a {
            align-self: center;
            margin-bottom: 10%;
        }
    
        p {
            text-align: center;
        }
    }


    .blog_grid {
        grid-template-columns: 1fr 2fr;
        column-gap: 100px;
        h3 {
            font-size: 2.2rem;
            line-height: 40px;
        }
    }


    .aside_text {
        padding-left: 20px;
    }

    .blog_text {
        padding-left: 70px;
        h2 {
            font-size: 4rem;
            line-height: 60px;
        }
    }

    .comment {
        grid-template-columns: 1fr 6fr;
    }

    .comment_form {
        margin-left: 30%;
        margin-right: 10%;
    }
    
    .contact_form {
        margin-left: 5%;
        input {
            width: 250px;
        }
    
        textarea, button {
            width: 600px;
        }
    }

}

@media (max-width: 1060px) {
    .onion_rings {
        top: -250px;
    }

    .directory {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }

    .new_burger_grid {
        display:flex;
        flex-direction: column;
    }

    .new_burger img {
        width: 80%;
        position: none;
    }

    .burger_text {
        align-items: flex-end;
        margin-top: 20px;
        margin-left: 12%;
        p {
            text-align: right;

        }

        a {
            align-self: flex-end;
        }
    }

    .new_text {
        margin-top:70px;
        text-align: left;
        a {
            align-self: flex-start;
        }
    }
    
    .new_burger img:last-of-type {
        right: -250px;
    }
    
    .nature {
        margin: 100px auto;
        h2{
            font-size: 4rem;
            text-align: center;
            line-height: 65px;
        }
    }
    
    .gallery img {
    width: 33%;
    padding: 10px;
    }

    .blog_grid {
        display: flex;
        flex-direction: column;
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
        aside {
            display:flex;
            margin-left:-60px;
            margin-top: 0;
            margin-bottom: 50px;
            .aside_text{
                margin-top:0;
                padding-left: 50px;
                padding-right: 10%;
            }
            img {
                display:none;
            }
        }
    }

    .blog_post {
        margin-right: -50px;
        img {
        margin-top: 10px;
        }
    }

    .margin {
        margin-top: 30px;
    }
    
    .comments_grid {
        margin-left: 0;
    }

    .comment_flex {
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
    }

    

    .comment_form {
        max-width: 1400px;
        width: 90%;
        margin: 0 auto;
        input {
            width: 248px;
            .name {
                margin-right:40px;
            }
        }
        textarea {
            width: 550px;
        }
        button {
            width: 550px;
        }
    }

    .contact_flex {
        flex-direction: column-reverse;
        align-items: center;
        .contact_form {
            margin-bottom: 50px;
            margin-left: 0;
            padding: 0 60px;
        }
        .contact_info {
            margin-top: 0;
            margin-bottom: 50px;
            margin-left: 0;
            text-align: center;
            align-items: center;
        }
        
    }

    .contact_form {
        input {
            width: 200px;
            margin-top: 60px;
            margin-right: 20px;
        }
        textarea {
            width:450px;
        }
        button {
            width: 450px;
        }
    }
}

@media (max-width:600px) {

    .home_header {
        h1{
            font-size: 5.8rem;
            margin-left: 0;
        }
    }

    i.fa-bars{
        visibility: visible;
        text-shadow: 0px 0px 5px $black;
        cursor: pointer;
    }

    .hamburger_menu {
        background-color: $sunflower;
        height: 50vh;
        position: fixed;
        display:block;
        right: -90%;
        width: 90%;
        transition: all 1s ease;
        margin-top:50px;
        z-index:11;
        li {
            padding: 0;
        }
        a {
            color:$black;
            font-size: 3rem;
            display:block;
            padding: 20px;
            transition: all 0.5s ease-in-out;
        }
    }



    .hamburger_menu a:hover,
    .hamburger_menu a:focus {
            color: $sunflower;
            background-color: $darkgreen;
            border:none;
        
    }

    input[type="checkbox"]:checked + .hamburger_menu {
        right:0;
    }

    input[type=checkbox] {
        visibility: hidden;
        top: 0;
        right: 0;
    }

    .onion_rings {
        width: 80%
    }

    .directory {
        h2 {
            font-size:3.8rem;
            line-height: 60px;
        }
    }

    .new_burger {
        padding-bottom: 20px;
        img {
            position:initial;
            width: 100%;
        }
    }

    .new_burger .burger_text {
        margin-top: 60px;
        margin-left:0;
        align-items:center;
        p, h2 {
            text-align: center;
        }
        a {
            align-self: center;
        }
    }

    .new_burger_grid .new_text {
        align-items: center;
        text-align: center;
        margin-right: 0;
        h2 {
            text-align:center;
        }
        p{
            text-align:center;
        }
    }
    
    .new_burger_grid .new_text a {
        align-self:center;
        margin-bottom: 70px;
    }

    .gift {
        h2 {
            font-size: 4rem;
            line-height: 60px;
            margin-bottom: 20px;
        }
    }

    .nature {
        img {
            width: 80%;
        }
        h2 {
            line-height: 50px;
            margin-bottom: 30px;
        }
        .nature_text a {
                    align-self: center;
                }
    }
    

    .gallery_flex {
        flex-direction: column; 
        align-items: center;
        img {
            width: 100%;
            padding: 20px;
        }
    }

    .blog_header {
        h1 {
            margin-top: 40%;
        }
    }

    .blog_text {
        padding-left: 30px;
        padding-top: 40px;
    }

    .comments_grid .comment {
        display:flex;
        flex-direction: column;
        margin:20px;
    }
    
    .comment img {
        width: 40%;
        margin-bottom: 10px;
    }
    .comment_text {
        margin-left: 0;
    }
    .comment_form {
        textarea {
            width:400px;
        }
        button {
            width: 400px;
        }
    }


    .contact_header {
        h1 {
            margin-top: 20%;
        }
    }

    .name_email {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            width: 400px;
            margin-right:0;
        }
        .name {
            margin-right: 0;
        }
    }

    .contact_info {
        p {
            margin-left:0;
        }
    }

    .contact_form {
        box-shadow: 0px 0px $sunflower;
        textarea {
            width: 400px;
        }
        button {
            width: 400px;
        }
    }
}

@media (max-width: 440px) {
    .home_header {
        h1 {
            font-size: 4.5rem;
        }
    }

    .onion_rings {
        width: 95%;
    }

    .directory {
        h2 {
            font-size: 3.6rem;
        }
    }

    .nature {
        h2 {
            font-size: 3.5rem;
        }
    }

    .blog_content {
        p {
            font-size: 1.8rem;
        }
    }

    .blog_text {
        h2 {
            font-size: 3.6rem;
            line-height: 50px;
            margin-bottom: 15px;
        }
    }


    .comment_flex {
        margin-bottom: 30px;
    }

    .comment_form, .contact_form {
        input {
            width: 300px;
        }
        textarea {
            width: 300px;
        }
        button {
            width: 300px;
        }
    } 

    .contact_form {
        margin-top: -80px;
    }

}