h1 {
    font-size:6.9rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
}

.home_header h1 {
    width:40%;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform:uppercase;
    font-weight: 400;
    font-size:4.5rem;
    line-height: 99.8px;
}



span {
    color:$black;
    background-color: $white;
    padding-top:15px;
}

main {
    font-family: 'Barlow', sans-serif;
    color: $white;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;
}

nav li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;
    color: $white;
}

i {
    color: $darkgreen;
    font-size: 2.5rem;
}

.icon_circle {
    background-color: $sunflower;
    padding:10px;
    border-radius: 75%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

