h1 {
    font-size:6.9rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
}

.home_header h1 {
    width:40%;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform:uppercase;
    font-weight: 400;
    font-size:4.5rem;
    line-height: 99.8px;
}

.new_burger h2 {
    font-size:4rem;
    line-height: 58px;
    letter-spacing: 1.3px;
}

.gift h2, .nature h2 {
    color: $sunflower;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 58px;
    letter-spacing: 0.8px;
    color: $sunflower;
}

h5 {
    font-size: 2rem;
}

.comment h5 {
    color: $sunflower;
}

span {
    color:$black;
    background-color: $white;
    padding-top:15px;
}

main {
    font-family: 'Barlow', sans-serif;
    color: $white;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;
}

nav li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 1px;
    color: $white;
}

i {
    color: $darkgreen;
    font-size: 2.5rem;
}

.icon_circle {
    background-color: $sunflower;
    padding:10px;
    border-radius: 75%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main a {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 41.6px;
    font-size:2.24rem;
    text-transform: uppercase;
}
.new_burger a {
    padding: 5px 10px;
    background-color: $sunflower;
    color: $black;
    align-self: flex-start;
    margin-top: 50px;
}

.gift a,
.nature_text a {
    color: $white;
    padding: 5px 20px;
    background-color: $black;
    text-transform: uppercase;
    margin-top: 50px;
}