@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 6.9rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 20px;
}

.home_header h1 {
  width: 40%;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 99.8px;
}

.new_burger h2 {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
}

.gift h2, .nature h2 {
  color: #FFD300;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
  color: #FFD300;
}

h5 {
  font-size: 2rem;
}

.comment h5 {
  color: #FFD300;
}

span {
  color: #0F0F0F;
  background-color: #FFFFFF;
  padding-top: 15px;
}

main {
  font-family: 'Barlow', sans-serif;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

nav li a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

i {
  color: #171B0E;
  font-size: 2.5rem;
}

.icon_circle {
  background-color: #FFD300;
  padding: 10px;
  border-radius: 75%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main a {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 41.6px;
  font-size: 2.24rem;
  text-transform: uppercase;
}

.new_burger a {
  padding: 5px 10px;
  background-color: #FFD300;
  color: #0F0F0F;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 50px;
}

.gift a,
.nature_text a {
  color: #FFFFFF;
  padding: 5px 20px;
  background-color: #0F0F0F;
  text-transform: uppercase;
  margin-top: 50px;
}

button {
  background-color: #FFD300;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.24rem;
  line-height: 41.6px;
  border: none;
  width: 825px;
  margin-bottom: 70px;
}

.socials i {
  color: #FFD300;
  padding: 20px;
}

header {
  height: 60vh;
  background-size: cover;
}

.home_header {
  background-image: url(../assets/home-header.jpg);
}

.blog_header {
  background-image: url(../assets/blog-header.jpg);
  height: 50vh;
}

.contact_header {
  background-image: url(../assets/contact-header.jpg);
  height: 50vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 20px;
}

nav a {
  padding-bottom: 10px;
}

nav a:hover, nav a:focus {
  border-bottom: 2px solid #FFD300;
}

.blog_header h1, .contact_header h1 {
  margin-top: 10%;
}

main {
  background-color: #2B331B;
  position: relative;
}

main .new_burger {
  background-color: #171B0E;
}

.onion_rings {
  position: absolute;
  top: -550px;
  right: 0;
  height: 700px;
  width: 850px;
}

.directory {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  gap: 80px;
  padding: 200px 0;
}

.directory_flex {
  position: relative;
}

.icon_flex {
  position: absolute;
  top: 30px;
  left: -65px;
}

.new_burger img {
  position: relative;
}

.new_burger img:first-of-type {
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  top: -75px;
  left: -150px;
}

.new_burger img:last-of-type {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  top: 55px;
  right: -150px;
}

.new_burger_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
}

.burger_text {
  margin-left: 150px;
  margin-top: 80px;
}

.new_text {
  text-align: right;
  margin-top: 40px;
  padding-right: 150px;
}

.new_text a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.burger_text, .new_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.banner {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  height: 50vh;
}

.nature_spaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  gap: 150px;
  margin: 150px;
}

.nature img {
  -webkit-box-shadow: -20px 20px #FDD300;
          box-shadow: -20px 20px #FDD300;
}

.nature_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nature_text a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.gallery {
  background-color: #171B0E;
}

.gallery_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.gallery img {
  width: calc(33% - 20px);
  padding: 20px;
}

.blog_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 160px;
          column-gap: 160px;
}

.blog_post img {
  -webkit-box-shadow: -20px 15px #FFD300;
          box-shadow: -20px 15px #FFD300;
  margin-top: -150px;
}

aside {
  margin-left: 10%;
  margin-top: 100px;
}

.aside_grid {
  display: -ms-grid;
  display: grid;
}

aside img {
  margin-left: -60px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 10;
}

.aside_text {
  background-color: #171B0E;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 95%;
  margin-right: 10%;
  margin-top: 20px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recent_posts li p:before {
  content: '•';
  margin-right: 15px;
}

.recent_posts {
  margin-top: 70px;
}

.margin {
  margin-top: 120%;
}

.blog_text {
  border-bottom: 5px solid #FFD300;
  border-left: 5px solid #FFD300;
  margin-left: -20px;
  padding-left: 150px;
  padding-bottom: 100px;
  padding-top: 70px;
  padding-right: 10%;
}

.blog_text p {
  margin-top: 30px;
}

.comments h2 {
  margin-bottom: 20px;
}

.comments_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35%;
  margin-top: 50px;
}

.comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr;
      grid-template-columns: 1fr 12fr;
  margin: 0px 80px 140px 0px;
}

.comment_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comment_text {
  margin-left: 50px;
}

.comment_text p {
  margin-top: 10px;
}

input, textarea {
  background-color: transparent;
  color: #FFFFFF;
}

input {
  border: none;
  border-bottom: 3px solid #FFD300;
  width: 380px;
  padding: 30px;
  margin: 20px 0;
}

.name {
  margin-right: 50px;
}

textarea {
  border: 3px solid #FFD300;
  width: 825px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  resize: none;
}

.comment_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form {
  background-color: #171B0E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  padding: 0 70px;
  margin-top: -150px;
  margin-bottom: 200px;
  margin-left: 120px;
}

.contact_form textarea {
  height: 300px;
}

.contact_form input {
  margin-top: 70px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
}

.contact_info p {
  margin-left: 20px;
}

.contact_socials p {
  margin-bottom: 30px;
}

footer {
  background-color: #0F0F0F;
  color: white;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}
